.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  @media (min-width: $mobile-size-land) {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 4rem;
  }

  @media (min-width: $tablet-size-land) {
    flex-flow: row nowrap;
  }

  &__item {
    flex: 1;

    @media (min-width: $mobile-size-land) {
      flex: 0 0 44%;
    }

    @media (min-width: $tablet-size-land) {
      flex: 1;
    }
  }
}
