$mobile-size-land: 576px;
$tablet-size-port: 768px;
$tablet-size-land: 1024px;
$desktop-size-small: 1200px;
$desktop-size-average: 1400px;
$desktop-size-large: 1920px;
$max-page-width: 2100px;
//
$color-green: #6ed548;
$color-white: #ffffff;
$color-black: #0c1022;
$color-grey: #cdcdcd;
$color-blue: #063183;
//
$shadow-small: 0 4px 6px 0 hsl(0deg 0% 0% / 6%);
$shadow-medium: 0 15px 20px 0 hsl(0deg 0% 0% / 6%);
$shadow-big: 0 20px 50px 0 hsl(0deg 0% 0% / 6%);
