<div class="container mb-6">
  <div class="documents">
    <ul class="documents__list">
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
      <li class="documents__item">
        <a
          class="documents__link"
          href="/upload/iblock/a76/5x3rnzrrrw95f0ns7bu3bbdmvgz8jjd3/Ustav-10.11.2020-_skan_.pdf"
          >Устав Ассоциации выпускников СКФУ</a
        >
      </li>
    </ul>
  </div>
</div>
