<footer class="footer page__footer">
  <div class="container">
    <div class="contacts">
      <a href="#" class="contacts__logo"
        ><img src="img/icons/logo-footer.svg" alt=""
      /></a>
      <p class="contacts__item">
        Адрес:<span class="contacts__content">г. Ставрополь, Пушкина, 1</span>
      </p>
      <p class="contacts__item">
        Телефон:<a href="tel:88652330660" class="contacts__content"
          >88652 330 660</a
        >
      </p>
      <p class="contacts__item">
        Электронная почта:<a
          href="mailto:fondncfu@mail.ru"
          class="contacts__content">
          fondncfu@mail.ru</a
        >
      </p>
    </div>
  </div>
</footer>
