<header class="header page__header">
  <div class="container container_descktop">
    <div class="header__flex">
      <div class="header__slider">
        <div
          class="slider slider--main swiper js-main-slider"
          data-wow-duration="1s">
          <div class="swiper-wrapper">
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
          </div>
          <div class="swiper-button-next slider__next-btn js-main-slider-next">
            <img src="img/icons/arrow-right.png" alt="" />
          </div>
          <div class="swiper-button-prev slider__prev-btn js-main-slider-prev">
            <img src="img/icons/arrow-left.png" alt="" />
          </div>
        </div>

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const swiper = new Swiper('.js-main-slider', {
              autoplay: {
                delay: 5000,
              },
              navigation: {
                nextEl: '.js-main-slider-next',
                prevEl: '.js-main-slider-prev',
              },
            });
          });
        </script>
      </div>

      <div class="header__content">
        <nav class="navigation mb-4 js-menu">
          <a href="#" class="navigation__logo-mobile">
            <img src="img/icons/logo-mobile.svg" alt="" />
          </a>
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="#" class="navigation__link">О фонде</a>
              <ul class="navigation__droplist">
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">История</a>
                </li>
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">Как работать</a>
                </li>
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">Руководство</a>
                </li>
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">Документы</a>
                </li>
              </ul>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Как стать инвестором</a>
              <ul class="navigation__droplist">
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">Студентам</a>
                </li>
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">Выпускникам</a>
                </li>
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">Физ. лицам</a>
                </li>
                <li class="navigation__droplist-item">
                  <a href="#" class="navigation__droplist-link">Юр. лицам</a>
                </li>
              </ul>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Проекты</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Контакты</a>
            </li>
          </ul>

          <button class="burger js-button" title="меню"></button>
        </nav>

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const menuEl = document.querySelector('.js-menu');
            const buttonEl = menuEl.querySelector('.js-button');

            buttonEl.addEventListener('click', () => {
              menuEl.classList.toggle('active');
              buttonEl.classList.toggle('active');

              if (menuEl.classList.contains('active')) {
                document.body.style.overflow = 'hidden';
              } else {
                document.body.style.overflow = null;
              }
            });
          });
        </script>

        <h1 class="title mb-2">Северо-Кавказский федеральный университет</h1>
        <div class="hero">
          <h2 class="hero__title font-caveat">Инвестируй<br />в будущее!</h2>
          <a href="" class="button mb-2">Сделать вклад</a>
          <img src="img/qr-hero.png" alt="" class="hero__img" />
        </div>
      </div>
    </div>
  </div>
</header>
