<header class="header page__header">
  <div class="container container_descktop">
    <div class="header__flex">
      <div class="header__slider">
        <div
          class="slider slider--main swiper js-main-slider"
          data-wow-duration="1s">
          <div class="swiper-wrapper">
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
            <a href="##" class="swiper-slide">
              <img
                class="slider__image"
                src="img/hero.png"
                alt="Заголовок слайда"
                title="Заголовок слайда" />
            </a>
          </div>
          <div class="swiper-button-next slider__next-btn js-main-slider-next">
            <img src="img/icons/arrow-right.png" alt="" />
          </div>
          <div class="swiper-button-prev slider__prev-btn js-main-slider-prev">
            <img src="img/icons/arrow-left.png" alt="" />
          </div>
        </div>

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const swiper = new Swiper('.js-main-slider', {
              autoplay: {
                delay: 5000,
              },
              navigation: {
                nextEl: '.js-main-slider-next',
                prevEl: '.js-main-slider-prev',
              },
            });
          });
        </script>
      </div>

      <div class="header__content">
        @@include('navigation.html')

        <script>
          document.addEventListener('DOMContentLoaded', function () {
            const menuEl = document.querySelector('.js-menu');
            const buttonEl = menuEl.querySelector('.js-button');

            buttonEl.addEventListener('click', () => {
              menuEl.classList.toggle('active');
              buttonEl.classList.toggle('active');

              if (menuEl.classList.contains('active')) {
                document.body.style.overflow = 'hidden';
              } else {
                document.body.style.overflow = null;
              }
            });
          });
        </script>

        <h1 class="title mb-2 mt-4">
          Северо-Кавказский федеральный университет
        </h1>
        <div class="hero">
          <h2 class="hero__title font-caveat">Инвестируй<br />в будущее!</h2>
          <a href="" class="button mb-2">Сделать вклад</a>
          <img src="img/qr-hero.png" alt="" class="hero__img" />
        </div>
      </div>
    </div>
  </div>
</header>
