<div class="container mb-6">
  <h2 class="title mb-4">Как работает фонд?</h2>
  <div class="info">
    <div class="card-info info__item">
      <img src="img/icons/road-1.svg" alt="" class="card-info__img" />
      <p class="card-info__text">
        Вы делаете благотворительное пожертвование в целевой капитал СКФУ
      </p>
    </div>
    <div class="card-info info__item">
      <img src="img/icons/road-2.svg" alt="" class="card-info__img" />
      <p class="card-info__text">
        Фонд СКФУ передает Ваше пожертвование в доверительное управление
      </p>
    </div>
    <div class="card-info info__item">
      <img src="img/icons/road-3.svg" alt="" class="card-info__img" />
      <p class="card-info__text">
        Управляющая компания инвестирует средства, составляющие целевой капитал
      </p>
    </div>
    <div class="card-info info__item">
      <img src="img/icons/road-4.svg" alt="" class="card-info__img" />
      <p class="card-info__text">
        Полученный доход направляется на развитие СКФУ
      </p>
    </div>
  </div>
</div>
