<div class="container mb-6">
  <h2 class="title">Партнеры</h2>
  <div class="partners">
    <a href="#" class="partners__item">
      <img src="img/p-logo-1.png" alt="" class="partners__img" />
    </a>
    <a href="#" class="partners__item">
      <img src="img/p-logo-2.png" alt="" class="partners__img" />
    </a>
    <a href="#" class="partners__item">
      <img src="img/p-logo-3.png" alt="" class="partners__img" />
    </a>
    <a href="#" class="partners__item">
      <img src="img/p-logo-4.png" alt="" class="partners__img" />
    </a>
  </div>
</div>
