<div class="container mb-6">
  <h2 class="title mb-0">Проекты</h2>
  <p class="subtitle mb-4">реализуются за счет доходов фонда</p>
  <div class="projects">
    <div class="projects__item card-project">
      <img src="img/project-1.png" alt="" class="card-project__img" />
      <a href="#" class="card-project__link">
        <div class="card-project__text">
          <p class="card-project__title" style="-webkit-box-orient: vertical">
            Социальные проекты
          </p>
          <!-- <p class="card-project__more">Подробнее</p> -->
        </div>
        <img src="img/qr-hero.png" alt="qr код" class="card-project__qr" />
      </a>
    </div>
    <div class="projects__item card-project">
      <img src="img/project-2.png" alt="" class="card-project__img" />
      <a href="#" class="card-project__link">
        <div class="card-project__text">
          <p class="card-project__title" style="-webkit-box-orient: vertical">
            Социальные проекты
          </p>
          <!-- <p class="card-project__more">Подробнее</p> -->
        </div>
        <img src="img/qr-hero.png" alt="qr код" class="card-project__qr" />
      </a>
    </div>
    <div class="projects__item card-project">
      <img src="img/project-3.png" alt="" class="card-project__img" />
      <a href="#" class="card-project__link">
        <div class="card-project__text">
          <p class="card-project__title" style="-webkit-box-orient: vertical">
            Социальные проекты
          </p>
          <!-- <p class="card-project__more">Подробнее</p> -->
        </div>
        <img src="img/qr-hero.png" alt="qr код" class="card-project__qr" />
      </a>
    </div>
    <div class="projects__item card-project">
      <img src="img/project-4.png" alt="" class="card-project__img" />
      <a href="#" class="card-project__link">
        <div class="card-project__text">
          <p class="card-project__title" style="-webkit-box-orient: vertical">
            Социальные проекты
          </p>
          <!-- <p class="card-project__more">Подробнее</p> -->
        </div>
        <img src="img/qr-hero.png" alt="qr код" class="card-project__qr" />
      </a>
    </div>
  </div>
</div>
