<div class="container mb-6">
  <div class="questions">
    <h2 class="title questions__title">Часто задаваемые вопросы</h2>
    <div class="questions__accordions">
      <div class="accordion">
        <button class="accordion__button">
          Мобильные приложения и интернет-сайты с картой Ставрополя
        </button>
        <div class="accordion__panel">
          Далеко-далеко за словесными горами, в стране гласных и согласных живут
          рыбные тексты. Решила на берегу языком продолжил снова. Там, дал
          запятых проектах, страну парадигматическая алфавит если родного
          подпоясал напоивший по всей составитель скатился но. Далеко-далеко за
          словесными горами, в стране гласных и согласных живут рыбные тексты.
          Решила на берегу языком продолжил снова. Там, дал запятых проектах,
          страну парадигматическая алфавит если родного подпоясал напоивший по
          всей составитель скатился но. Далеко-далеко за словесными горами, в
          стране гласных и согласных живут рыбные тексты. Решила на берегу
          языком продолжил снова. Там, дал запятых проектах, страну
          парадигматическая алфавит если родного подпоясал напоивший по всей
          составитель скатился но.
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__button">
          Мобильные приложения и интернет-сайты с картой Ставрополя
        </button>
        <div class="accordion__panel">
          Далеко-далеко за словесными горами, в стране гласных и согласных живут
          рыбные тексты. Решила на берегу языком продолжил снова. Там, дал
          запятых проектах, страну парадигматическая алфавит если родного
          подпоясал напоивший по всей составитель скатился но. Далеко-далеко за
          словесными горами, в стране гласных и согласных живут рыбные тексты.
          Решила на берегу языком продолжил снова. Там, дал запятых проектах,
          страну парадигматическая алфавит если родного подпоясал напоивший по
          всей составитель скатился но. Далеко-далеко за словесными горами, в
          стране гласных и согласных живут рыбные тексты. Решила на берегу
          языком продолжил снова. Там, дал запятых проектах, страну
          парадигматическая алфавит если родного подпоясал напоивший по всей
          составитель скатился но.
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__button">
          Мобильные приложения и интернет-сайты с картой Ставрополя
        </button>
        <div class="accordion__panel">
          Далеко-далеко за словесными горами, в стране гласных и согласных живут
          рыбные тексты. Решила на берегу языком продолжил снова. Там, дал
          запятых проектах, страну парадигматическая алфавит если родного
          подпоясал напоивший по всей составитель скатился но. Далеко-далеко за
          словесными горами, в стране гласных и согласных живут рыбные тексты.
          Решила на берегу языком продолжил снова. Там, дал запятых проектах,
          страну парадигматическая алфавит если родного подпоясал напоивший по
          всей составитель скатился но. Далеко-далеко за словесными горами, в
          стране гласных и согласных живут рыбные тексты. Решила на берегу
          языком продолжил снова. Там, дал запятых проектах, страну
          парадигматическая алфавит если родного подпоясал напоивший по всей
          составитель скатился но.
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__button">
          Мобильные приложения и интернет-сайты с картой Ставрополя
        </button>
        <div class="accordion__panel">
          Далеко-далеко за словесными горами, в стране гласных и согласных живут
          рыбные тексты. Решила на берегу языком продолжил снова. Там, дал
          запятых проектах, страну парадигматическая алфавит если родного
          подпоясал напоивший по всей составитель скатился но. Далеко-далеко за
          словесными горами, в стране гласных и согласных живут рыбные тексты.
          Решила на берегу языком продолжил снова. Там, дал запятых проектах,
          страну парадигматическая алфавит если родного подпоясал напоивший по
          всей составитель скатился но. Далеко-далеко за словесными горами, в
          стране гласных и согласных живут рыбные тексты. Решила на берегу
          языком продолжил снова. Там, дал запятых проектах, страну
          парадигматическая алфавит если родного подпоясал напоивший по всей
          составитель скатился но.
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__button">
          Мобильные приложения и интернет-сайты с картой Ставрополя
        </button>
        <div class="accordion__panel">
          Далеко-далеко за словесными горами, в стране гласных и согласных живут
          рыбные тексты. Решила на берегу языком продолжил снова. Там, дал
          запятых проектах, страну парадигматическая алфавит если родного
          подпоясал напоивший по всей составитель скатился но. Далеко-далеко за
          словесными горами, в стране гласных и согласных живут рыбные тексты.
          Решила на берегу языком продолжил снова. Там, дал запятых проектах,
          страну парадигматическая алфавит если родного подпоясал напоивший по
          всей составитель скатился но. Далеко-далеко за словесными горами, в
          стране гласных и согласных живут рыбные тексты. Решила на берегу
          языком продолжил снова. Там, дал запятых проектах, страну
          парадигматическая алфавит если родного подпоясал напоивший по всей
          составитель скатился но.
        </div>
      </div>
      <div class="accordion">
        <button class="accordion__button">
          Мобильные приложения и интернет-сайты с картой Ставрополя
        </button>
        <div class="accordion__panel">
          Далеко-далеко за словесными горами, в стране гласных и согласных живут
          рыбные тексты. Решила на берегу языком продолжил снова. Там, дал
          запятых проектах, страну парадигматическая алфавит если родного
          подпоясал напоивший по всей составитель скатился но. Далеко-далеко за
          словесными горами, в стране гласных и согласных живут рыбные тексты.
          Решила на берегу языком продолжил снова. Там, дал запятых проектах,
          страну парадигматическая алфавит если родного подпоясал напоивший по
          всей составитель скатился но. Далеко-далеко за словесными горами, в
          стране гласных и согласных живут рыбные тексты. Решила на берегу
          языком продолжил снова. Там, дал запятых проектах, страну
          парадигматическая алфавит если родного подпоясал напоивший по всей
          составитель скатился но.
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const acc = document.getElementsByClassName('accordion__button');
    if (acc.length > 0) {
      for (let i = 0; i < acc.length; i++) {
        acc[i].addEventListener('click', function () {
          this.classList.toggle('active');
          let panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + 'px';
          }
        });
      }
    }
  });
</script>
