<div class="flex-grid mb-1">
  <div class="flex-grid__col-50 mb-2">
    <div class="card-image-desc">
      <div class="card-image-desc__img-wrapper">
        <img
          class="card-image-desc__img card-image-desc__img_rounded"
          src="img/person-2.png"
          alt="" />
      </div>
      <div class="card-image-desc__text centered-vertical">
        <a class="text-title" href="#">Иванов Иван Иванович</a>
        <p>Должность</p>
      </div>
    </div>
  </div>

  <div class="flex-grid__col-50 mb-2">
    <div class="card-image-desc">
      <div class="card-image-desc__img-wrapper">
        <img
          class="card-image-desc__img card-image-desc__img_rounded"
          src="img/person-1.png"
          alt="" />
      </div>
      <div class="card-image-desc__text centered-vertical">
        <a class="text-title" href="#">Иванов Иван Иванович</a>
        <p>Должность</p>
      </div>
    </div>
  </div>
</div>
